h1{

    text-align: center;
}
.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column p {
    font-size: 1.5em;
}

.solution {
    text-align: right;
    font-size: 1.5em;
}

.solution a {

   text-decoration: none;
}

.tracks {
    text-align: center;
}

.tracks ul {
    width: 70%;
    margin: auto;
    list-style-type: none;
}

.tracks ul li {
    margin: 10px 0;
}
.tracks ul li a {

    font-size: 1.5em;
   text-decoration: none;

}
